<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690515042246-1g38ke1do9fagp4fjc5iqpd30vnodh4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690515042246-1g38ke1do9fagp4fjc5iqpd30vnodh4r</string>
	<key>API_KEY</key>
	<string>AIzaSyCGtbRz493JHhNmrlM3n_XhSBcLvwlpak4</string>
	<key>GCM_SENDER_ID</key>
	<string>690515042246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopsolwesop</string>
	<key>PROJECT_ID</key>
	<string>shopsol-app</string>
	<key>STORAGE_BUCKET</key>
	<string>shopsol-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690515042246:ios:1183da28aa648c7c2c9cc7</string>
</dict>
</plist>